@mixin rect(
	$color : brown,
	$width : 20px,
	$height : 30px,
	$border_radius : null
) {
	background-color : $color;
	height : $height;
	width  : $width;
	@if $border_radius {
		border-radius : $border_radius;
	}
}

@mixin circle(
	$color : black,
	$width : 100px,
	$height : null,
	$border_radius : 50%
) {
	@if ($height == null) {
		$height : $width;
	}

	@include rect(
		$color : $color,
		$width : $width,
		$height : $height,
		$border_radius : $border_radius
	)
}

@mixin triangle(
	$side  : top,
	$color : black,
	$size  : 50px,
	$border_width : 8px
) {
	$oside : bottom;

	@if      $side == bottom { $oside : top; }
	@else if $side == right  { $oside : left; }
	@else if $side == left   { $oside : right; }

	position : relative;

	border-style : solid;
	border-color : transparent;
	border-width : $size;

	border-#{$oside}-color : white;
	border-#{$side}-width : 0;

	@if $border_width {
		&:after {
			content : "";

			position : absolute;
			left : -($size - $border_width);
			top : $border_width;

			border-style : solid;
			border-color : transparent;
			border-width : $size - $border_width;

			border-#{$oside}-color : $color;
			border-#{$side}-width : 0;
		}
	}
}
