@mixin tree(
	$width       : $width,
	$variation   : 'A',
	$story_color : green,
	$trunk_color : brown,
	$border_width  : 16px
) {
	$half_width    : $width / 2;
	$story_overlay : $width / 4;

	display    : inline-block;
	width      : $width;
	text-align : center;

	.story {
		@include triangle(
			$color : $story_color,
			$size  : $half_width,
			$border_width : $border_width
		);

		margin-top : -($story_overlay);

		&:first-child {
			margin-top : 0;
		}

		@for $i from 1 to 6 {
			&:nth-child(#{$i}) {
				z-index : 6 - $i;
			}
		}
	}

	.trunk {
		@include rect(
			$color : $trunk_color,
			$width : $width / 6,
			$height : $width / 4
		);

		display : inline-block;
	}
}
